<a href="https://colab.research.google.com/github/ashraf109/BBP01-107-DataAnalyzeAndVisualize/blob/main/BBP01_107_DataAnalyzeAndVisualize.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
!wget https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv

--2024-12-21 02:46:48--  https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 133023 (130K) [text/plain]
Saving to: ‘student_data.csv’

student_data.csv    100%[===================>] 129.91K  --.-KB/s    in 0.01s

2024-12-21 02:46:49 (11.5 MB/s) - ‘student_data.csv’ saved [133023/133023]

In [9]:
df=pd.read_csv("student_data.csv")
print(df)
filtered=df[(df["ssc_gpa"]>4) & (df["hsc_gpa"]>4)]
print("The number of the students who have completed both:",filtered)

       id first_name   last_name                        email      gender  \
0       1     Fraser   Petschelt   fpetschelt0@craigslist.org        Male
1       2         Si     Skottle    sskottle1@squarespace.com        Male
2       3      Barbi   Seedhouse  bseedhouse2@miibeian.gov.cn      Female
3       4     Shadow      Scarff         sscarff3@walmart.com        Male
4       5      Karim  Domenicone    kdomenicone4@sakura.ne.jp        Male
..    ...        ...         ...                          ...         ...
995   996  Catharina     Bradtke       cbradtkern@pcworld.com      Female
996   997  Anastasia       Lowde            alowdero@blog.com      Female
997   998      Tandi    Whitlock      twhitlockrp@skyrock.com      Female
998   999    Malvina        Tuhy        mtuhyrq@bloglines.com  Non-binary
999  1000     Kissee    Okeshott          kokeshottrr@msu.edu      Female

          ip_address  cgpa  passing_year        department  attendance  \
0     22.110.131.206  0.13        2000.0          Business       63.56
1         230.8.97.7   NaN        2023.0              Arts       76.00
2     212.118.50.163   NaN        2015.0  Computer Science        9.91
3       43.41.240.67  3.27        2024.0              Arts       90.09
4        29.33.96.28  0.20        2025.0              Arts       91.36
..               ...   ...           ...               ...         ...
995    52.162.96.226  0.49        2015.0          Medicine         NaN
996  199.250.191.241  0.37        2009.0  Computer Science        8.18
997    156.191.196.6  1.04        2023.0          Medicine       92.60
998     49.201.10.99   NaN        2017.0          Medicine       61.29
999     169.43.29.34  2.22        2018.0              Arts       70.99

    home_district  abroad_study  student_id  graduation_date  \
0         Houston         False           1             2015
1           Miami          True           2             2014
2         Houston         False           3             2013
3        New York          True           4             2012
4           Miami         False           5             2008
..            ...           ...         ...              ...
995       Chicago         False         996             2019
996       Chicago          True         997             2011
997      New York         False         998             2011
998      New York          True         999             2008
999         Miami         False        1000             2004

      study_abroad_country study_abroad_city  hsc_gpa  ssc_gpa
0                   France              Laon        5        5
1                    China         Changqiao        1        3
2                    China              Luxi        2        1
3                   Brazil        Chã Grande        5        2
4                   Sweden          Enköping        5        5
..                     ...               ...      ...      ...
995  Palestinian Territory    Dayr Abū Ḑa‘īf        5        4
996              Venezuela         El Corozo        3        1
997                 Sweden            Motala        3        3
998               Pakistan            Nārang        1        4
999                 Uganda             Amuru        3        3

[1000 rows x 18 columns]
The number of the students who have completed both:       id first_name    last_name                           email       gender  \
0      1     Fraser    Petschelt      fpetschelt0@craigslist.org         Male
4      5      Karim   Domenicone       kdomenicone4@sakura.ne.jp         Male
9     10      Cordi      Wegener   cwegener9@creativecommons.org      Agender
11    12        Sal    MacMurray           smacmurrayb@github.io       Female
42    43   Phillipe      Harding          pharding16@mozilla.com         Male
49    50    Petrina        Janas               pjanas1d@time.com       Female
68    69      Tilda       Hastin              thastin1w@cnbc.com      Agender
127  128      Idell       Casine           icasine3j@booking.com  Genderqueer
146  147      Hazel       Double               hdouble42@ftc.gov         Male
155  156      Allys        Fowle               afowle4b@time.com       Female
168  169    Harbert          Hay                hhay4o@issuu.com         Male
183  184     Lorine      Caffrey          lcaffrey53@twitpic.com       Female
209  210       Fred       Clubbe             fclubbe5t@exblog.jp       Female
358  359        Deb      Everson              deverson9y@wsj.com       Female
391  392   Adrienne    Cawtheray           acawtherayav@ehow.com       Female
399  400      Abran      Gonning          agonningb3@t-online.de         Male
419  420    Bobette         Fone  bfonebn@networkadvertising.org       Female
459  460      Avrom        Vispo             avispocr@ustream.tv         Male
551  552    Victoir      Donnell          vdonnellfb@weather.com         Male
636  637       Rhys  Braybrookes      rbraybrookesho@weather.com         Male
662  663      Doyle        Syers              dsyersie@wikia.com         Male
691  692      Karil         Kane         kkanej7@list-manage.com       Female
704  705   Brittany     Lavrinov              blavrinovjk@va.gov       Female
765  766     Carita       Gouley          cgouleyl9@columbia.edu       Female
768  769        Vin      Dobeson           vdobesonlc@dion.ne.jp         Male
792  793     Skylar       Wibrew              swibrewm0@ox.ac.uk         Male
803  804     Chance   Goldsberry      cgoldsberrymb@google.co.uk         Male
817  818    Barnard       Itzkov          bitzkovmp@amazon.co.uk         Male
843  844     Oliver       Milsap             omilsapnf@fotki.com         Male
844  845      Albie     Auckland     aaucklandng@marketwatch.com         Male
892  893     Barnie  Bowlesworth          bbowlesworthos@nba.com         Male
917  918     Yancey   Filippazzo     yfilippazzoph@artisteer.com         Male
941  942  Rosemarie      Lawford           rlawfordq5@boston.com       Female
946  947     Malvin     Chessman              mchessmanqa@ed.gov         Male
979  980     Lianne        Perks          lperksr7@discovery.com       Female

          ip_address  cgpa  passing_year        department  attendance  \
0     22.110.131.206  0.13        2000.0          Business       63.56
4        29.33.96.28  0.20        2025.0              Arts       91.36
9      118.74.222.69  0.50        2005.0  Computer Science        4.71
11    148.180.221.82  3.42        2013.0          Business        0.99
42   181.234.191.154  1.97           NaN       Engineering       55.25
49     11.128.158.92  2.16        2009.0          Medicine       58.23
68     131.1.191.230  2.69        2002.0          Business       12.57
127    1.163.183.196  0.71        2007.0  Computer Science       33.73
146   175.143.124.46  3.93        2005.0          Medicine       60.42
155  117.204.179.188  1.64        2001.0       Engineering       45.60
168  197.136.147.107  3.91           NaN          Business       37.49
183    25.195.248.91  2.31        2004.0          Business         NaN
209    60.248.77.162   NaN        2021.0  Computer Science       44.26
358      61.92.16.79  1.78        2002.0       Engineering       57.56
391     94.152.46.40  2.93        2023.0              Arts       84.14
399  232.235.117.181   NaN        2011.0              Arts       94.28
419     152.35.25.14  3.26        2017.0  Computer Science       75.42
459    144.94.115.72  2.65        2007.0  Computer Science        9.45
551     31.134.68.34   NaN        2001.0          Business       53.98
636    12.18.127.116  3.92        2025.0       Engineering       90.71
662     26.98.12.181  0.66        2005.0          Medicine       78.16
691  235.242.121.129   NaN        2013.0       Engineering       77.12
704    144.8.210.142  1.16        2009.0          Business       76.46
765  135.180.210.246  1.87        2025.0  Computer Science       88.29
768  132.105.131.204   NaN           NaN          Business       17.35
792    116.100.71.68  2.66        2016.0          Business       72.85
803   143.237.127.58  0.07        2001.0          Medicine       84.56
817    54.43.213.109  0.74        2006.0  Computer Science        3.46
843   180.144.67.192  1.79        2016.0          Medicine       64.95
844     46.119.44.19  2.26        2020.0  Computer Science       27.80
892     110.99.29.87  3.62           NaN  Computer Science        8.31
917    80.39.111.185  1.90        2004.0  Computer Science       48.35
941     79.36.159.17  0.56        2016.0          Medicine       22.51
946     177.91.37.22  1.49        2023.0          Medicine       29.21
979    120.44.35.252  0.48        2024.0  Computer Science       38.06

    home_district  abroad_study  student_id  graduation_date  \
0         Houston         False           1             2015
4           Miami         False           5             2008
9         Houston         False          10             2013
11        Houston          True          12                0
42        Chicago         False          43                0
49          Miami         False          50                0
68          Miami         False          69             2014
127       Houston         False         128             2016
146      New York          True         147             2015
155      New York          True         156             2019
168         Miami         False         169             2011
183         Miami         False         184             2001
209         Miami          True         210             2008
358   Los Angeles          True         359             2020
391   Los Angeles          True         392             2004
399      New York          True         400             2010
419      New York          True         420             2009
459       Houston         False         460             2021
551         Miami          True         552             2009
636       Houston          True         637             2005
662       Houston          True         663             2006
691      New York         False         692             2015
704       Houston         False         705             2006
765       Houston          True         766             2005
768       Houston         False         769             2015
792       Houston         False         793             2012
803       Chicago          True         804             2013
817   Los Angeles          True         818             2015
843         Miami          True         844             2016
844   Los Angeles         False         845             2010
892         Miami         False         893             2003
917   Los Angeles         False         918             2015
941   Los Angeles         False         942             2019
946         Miami          True         947             2008
979      New York          True         980             2005

                 study_abroad_country           study_abroad_city  hsc_gpa  \
0                              France                        Laon        5
4                              Sweden                    Enköping        5
9                                Peru                  Ayrihuanca        5
11                               Peru                        Obas        5
42   Democratic Republic of the Congo                      Tshela        5
49                              China                       Hekou        5
68                           Tanzania                      Urambo        5
127                         Guatemala                 Colotenango        5
146                        Mauritania                        Néma        5
155                          Portugal                    Quintães        5
168                             China                      Xinhua        5
183                         Indonesia                       Kajar        5
209                         Indonesia                    Kiukasen        5
358                            Brazil                     Birigui        5
391                             China                    Jiangkou        5
399                            Poland                      Lubrza        5
419                         Argentina                  Deán Funes        5
459                         Indonesia                    Waihibar        5
551                 Equatorial Guinea                        Luba        5
636                            Sweden                  Lindesberg        5
662                             China                        Lipu        5
691                              Chad                       Benoy        5
704                           Vietnam                    Sơn Tịnh        5
765                           Lebanon                     Jezzîne        5
768                             China                      Qizhen        5
792                             China                 Dajianchang        5
803                           Vietnam                     Phú Lộc        5
817                         Indonesia                      Petong        5
843                            Brazil            Pontes e Lacerda        5
844                             China                    Chiguang        5
892                            Brazil                     Orleans        5
917                            Greece                    Aiánteio        5
941                          Portugal               Vale da Pedra        5
946                Dominican Republic  Santiago de los Caballeros        5
979                          Portugal                    Trajouce        5

     ssc_gpa
0          5
4          5
9          5
11         5
42         5
49         5
68         5
127        5
146        5
155        5
168        5
183        5
209        5
358        5
391        5
399        5
419        5
459        5
551        5
636        5
662        5
691        5
704        5
765        5
768        5
792        5
803        5
817        5
843        5
844        5
892        5
917        5
941        5
946        5
979        5

In [10]:
display_abroad_canada=df[df["study_abroad_country"]=="Canada"]
print(display_abroad_canada)

      id first_name last_name                         email       gender  \
18    19    Allegra   Comport             acomporti@mapy.cz       Female
240  241       Bank  Roggieri  broggieri6o@businesswire.com         Male
404  405    Sergent   Droogan         sdrooganb8@reddit.com         Male
468  469     Andris     Neary     anearyd0@odnoklassniki.ru         Male
470  471     Terrye   Bointon   tbointond2@surveymonkey.com       Female
489  490    Freemon    Latter             flatterdl@ask.com         Male
590  591      Annie      Gunn             agunnge@webmd.com       Female
679  680    Jacquie    Sproul           jsprouliv@desdev.cn  Genderqueer
701  702       Kaja    Sidary           ksidaryjh@wikia.com       Female
883  884    Barclay   Reimers        breimersoj@nbcnews.com         Male
889  890       Pooh     Arpur        parpurop@geocities.com       Female

          ip_address  cgpa  passing_year        department  attendance  \
18    77.240.233.221  1.32        2022.0       Engineering       78.91
240     28.62.81.179  0.13        2006.0              Arts       92.41
404   198.94.220.110  3.64        2018.0       Engineering       55.51
468    131.213.84.15  3.81           NaN  Computer Science       30.05
470   122.126.248.52  3.99        2024.0       Engineering       74.31
489   200.114.231.59  0.15           NaN          Business        7.59
590     48.229.74.41  2.22        2022.0          Business       66.72
679  121.172.150.148  1.90        2009.0          Medicine       82.00
701     72.83.108.88  1.59        2004.0          Business        1.91
883   231.25.166.106  0.21        2011.0              Arts       60.58
889  181.124.177.162  1.47        2008.0          Business       73.27

    home_district  abroad_study  student_id  graduation_date  \
18        Houston         False          19             2011
240   Los Angeles         False         241             2019
404   Los Angeles         False         405                0
468      New York          True         469             2014
470      New York         False         471             2012
489   Los Angeles         False         490             2005
590      New York         False         591             2010
679       Houston         False         680             2012
701         Miami         False         702             2016
883      New York         False         884             2008
889         Miami         False         890             2016

    study_abroad_country study_abroad_city  hsc_gpa  ssc_gpa
18                Canada     Charlottetown        3        5
240               Canada           Airdrie        1        3
404               Canada       Peace River        4        2
468               Canada          Richmond        4        4
470               Canada    Saint-Ambroise        5        2
489               Canada          Petrolia        2        4
590               Canada    Carleton Place        2        5
679               Canada             Lévis        2        3
701               Canada           Lachute        3        2
883               Canada        East Angus        5        3
889               Canada      Beaconsfield        2        1